<div class="container">
  <div class="upper-seg">
    <img src="../assets/hot.jpg" *ngIf="temperature > 15">
    <img src="../assets/cold.jpg" *ngIf="temperature <= 15">
    <div class="weather-data">
      <div class="location">{{location}}</div>
      <div class="temperature">{{temperature | number: '1.0-0'}}°C</div>
    </div>
  </div>
  <div class="lower-seg">
    <div class="more-info-label">
      More information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.png">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{lowTemp| number: '1.0-0'}}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{highTemp| number: '1.0-0'}}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{humidity}}%
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{wind}} m/s
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
